<html>
<head>
    <title>RG form chart blueprint</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20170530/1/css/bulldog.min.css">

    <!-- Extra CSS START -->
	{% block extra_css %}{% endblock extra_css %}
	<!-- Extra CSS END -->

</head>
<body>

    <!-- Content START -->
    {% block content %}{% endblock content %}
    <!-- Content END -->

    <!-- Extra JS START -->
	{% block extra_js %}{% endblock %}
	<!-- Extra JS END -->

</body>
</html>